<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<parent>
		<groupId>{{parentGroupId}}</groupId>
		<artifactId>{{parentArtifactId}}</artifactId>
		<version>{{parentVersion}}</version>
		<relativePath>{{parentRelativePath}}</relativePath>
	</parent>

	<groupId>{{parentGroupId}}</groupId>
	<artifactId>{{parentArtifactId}}-verification</artifactId>
	<version>{{parentVersion}}</version>
	<packaging>pom</packaging>

	<dependencies>
{{#dependencies}}
		<dependency>
			<groupId>{{groupId}}</groupId>
			<artifactId>{{artifactId}}</artifactId>
			<type>{{type}}</type>
			{{#classifierIfAvailable}}{{classifier}}{{/classifierIfAvailable}}
		</dependency>
{{/dependencies}}
	</dependencies>

	<repositories>
{{#repositories}}
		<repository>
			<id>{{id}}</id>
			<url>{{url}}</url>
			<snapshots>
				<enabled>{{snapshotsEnabled}}</enabled>
			</snapshots>
		</repository>
{{/repositories}}
	</repositories>

	<build>
    	<extensions>
			<extension>
				<groupId>kr.motd.maven</groupId>
				<artifactId>os-maven-plugin</artifactId>
				<version>1.6.1</version>
			</extension>
		</extensions>
	</build>

</project>
